<?php
return [
    'route' => [
        '/index' => '\_default\_default@_default',
        '/index/go' => '_default\_custom\_func@_go',
    ],
    'git' => [
        'webhook_secret' => '',
    ],
    'database' => [
        'host' => 'localhost',
        'port' => '3306',
        'db_name' => 'test',
        'username' => 'root',
        'password' => 'root',
        'driver_options' => [],
    ],
];
